<div class="table">
  <table>
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Add', line_items_path(product_id: product), class: 'btn btn-primary', method: :post %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
